<html>
  <head>
    <title>Google Search Clone</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="search-wrapper">
        <div class="search-logo">
          <img src="images/search.svg" />
          <span>E-Search</span>
        </div>
        <div class="search-bar">
          <div class="search-icon">
            <i class="fa fa-search"></i>
          </div>
          <input type="text" />
          <div class="search-icon right">
            <i class="fa fa-file-text"></i>
          </div>
        </div>
        <!-- <div class="search-buttons" >
          <a href="">Text search</a>
        </div> -->
      </div>
    </div>
    <div class="result">
      <div class="result-item"><a>http://dropbox.com</a></div>
    </div>
  </body>
</html>
