<html>
  <head>
    <title>E-Search</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="search-wrapper">
        <div class="search-logo">
          <img src="images/search.svg" />
          <span>E-Search</span>
        </div>
        <form class="search-bar" onsubmit="return search(event)">
          <div class="search-icon">
            <i class="fa fa-search"></i>
          </div>
          <input id="keyword" type="text" />
          <div class="search-icon right">
            <i class="fa fa-file-text"></i>
          </div>
        </form>
        <!-- <div class="search-buttons" >
          <a href="">Text search</a>
        </div> -->
      </div>
      <div id="searchHeading"></div>
      <div id="results" class="result"></div>
    </div>
  </body>
  <script>
    var search = (e) => {
      e.preventDefault();
      var keyword = document.getElementById("keyword").value;
      var results = document.getElementById("results");
      var searchHeading = document.getElementById("searchHeading");
      fetch("/api/search?q=" + keyword)
        .then((response) => response.json())
        .then((data) => {
          if (data.length) {
            searchHeading.innerHTML = `Showing <b>${data.length}</b> result(s) for <b>"${keyword}"</b>`;
          }
          results.innerHTML = "";
          data.forEach((element) => {
            results.innerHTML += `<div class="result-item">
							<a href="${element.url}"> ${element.filename}</a><br>
							<small>${element.url}</small>
							</div>`;
          });
        });
    };
  </script>
</html>
